<!-- <div class="h-100 bg-premium-dark">
  <div class="d-flex h-100 justify-content-center align-items-center">
    <div class="mx-auto app-login-box col-md-8">
      <div class="app-logo-inverse mx-auto mb-3"></div> -->
<div class="row">
  <div class="col-lg-6 col-xl-12">
    <div id="step1">
      <h4> Notice Will Appear Here </h4>
    </div>
    <div class="divider"></div>
    <div id="exampleInputGroup1" role="group" aria-describedby="exampleInputGroup1__BV_description_" class="form-group">
      <div><input id="exampleInput1" type="password" placeholder="Enter current password..." required="required"
          aria-required="true" class="form-control" aria-describedby="exampleInputGroup1__BV_description_">
        <small tabindex="-1" id="exampleInputGroup1__BV_description_" class="form-text text-muted">We'll never
          share your password with anyone else.
        </small>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div id="step2">
          <div id="exampleInputGroup2" role="group" class="form-group">
            <div><input id="exampleInput2" type="password" placeholder="Enter new password..." required="required"
                aria-required="true" class="form-control"></div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div id="exampleInputGroup2" role="group" class="form-group">
          <div><input id="exampleInput2" type="password" placeholder="Repeat new password..." required="required"
              aria-required="true" class="form-control"></div>
        </div>
      </div>
    </div>
    <div class="custom-control custom-checkbox"><input id="exampleCheck" type="checkbox" name="check" autocomplete="off"
        class="custom-control-input" value="true"><label for="exampleCheck" class="custom-control-label">
        Accept our <a [routerLink]="">Terms and Conditions</a>.
      </label></div>
    <div class="d-block text-center">
      <button type="button" class="btn btn-wide btn-pill btn-shadow btn-hover-shine btn-secondary btn-lg" (click)="startIntro()">Change
        Password
      </button>
    </div>
  </div>

  <!-- </div>
      <div class="text-center text-white opacity-8 mt-3">
        Copyright © Zoul Vision 2020
      </div>
    </div>
  </div>
</div> -->